<h1>Reporty</h1>

<div class="reports">
    <p>Počet zákazníků: <?= count($customers) ?></p>
    <p>Počet přiřazených karet: <?= count($cards) ?></p>
    <table>
        <thead>
            <tr>
                <th>Jméno</th>
                <th>Příjmení</th>
                <th>obrat</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($topTenCustomers as $customer) : ?>
                <tr>
                    <td><?= $customer["name"] ?></td>
                    <td><?= $customer["surname"] ?></td>
                    <td><?= $customer["suma"] ?></td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>