<form method="post" id="form_register">
    <fieldset>
        <legend>Základní info</legend>
        <input type="text" name="name" placeholder="Jméno" value="<?= $_POST["name"] ?? "" ?>" required>
        <input type="text" name="surname" placeholder="Příjmení" value="<?= $_POST["surname"] ?? "" ?>" required>
        <input type="email" name="email" placeholder="E-mail" value="<?= $_POST["email"] ?? "" ?>" required>
        <input type="tel" name="phone" placeholder="Telefon" value="<?= $_POST["phone"] ?? "" ?>">
    </fieldset>
    <fieldset>
        <legend>Adresa</legend>
        <input type="text" name="street" placeholder="Ulice a Č.P." value="<?= $_POST["street"] ?? "" ?>" required>
        <input type="text" name="city" placeholder="Město" value="<?= $_POST["city"] ?? "" ?>" required>
        <input type="number" name="zip" placeholder="PSČ" value="<?= $_POST["zip"] ?? "" ?>" required>
        <input type="text" name="country" placeholder="Stát" value="<?= $_POST["country"] ?? "" ?>" required>
        <select name="address_type">
            <option value="shipping">Dodací</option>
            <option value="billing">Fakturační</option>
        </select>
        <input type="text" name="address_name" placeholder="název adresy" value="<?= $_POST["address_name"] ?? "" ?>" required>
    </fieldset>

    <?php foreach ($errors as $error) : ?>
        <p class="error"><?= $error ?></p>
    <?php endforeach; ?>
    <input type="submit" name="form_register">
</form>