<h1>Generovat karty</h1>
<form method="post">
    <input type="number" name="card_count" placeholder="počet karet">
    <input type="submit" name="card_form" value="Generovat">
    <p class="error"><?= $error ?? "" ?></p>
</form>

<h1>Generovat transakce</h1>
<form method="post">
    <input type="number" name="purchase_count" placeholder="počet transakcí">
    <input type="submit" name="purchase_form" value="Generovat">
    <p class="error"><?= $error ?? "" ?></p>
</form>

<?php if (!empty($generated_cards)) : ?>
    <table>
        <thead>
            <tr>
                <th>number</th>
                <th>type</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($generated_cards as $generated_card) : ?>
                <tr>
                    <td><?= $generated_card["number"] ?></td>
                    <td><?= $generated_card["type"] ?></td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
<?php endif; ?>

<?php if (!empty($generated_purchases)) : ?>
    <p>Successfully generated <?= count($generated_purchases)?> purchases</p>
<?php endif; ?>
