<form method="post">
    <input type="text" name="name" value="<?= $_POST["name"] ?? "" ?>" required>
    <input type="number" name="price" value="<?= $_POST["price"] ?? 0 ?>" required>
    <?php foreach ($errors as $error) : ?>
        <p class="error"><?= $error ?></p>
    <?php endforeach; ?>
    <input type="submit" value="Přidat" name="form_item_add">
</form>