<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><?= $title ?></title>
    <?php foreach ($scripts as $script) : ?>
        <?= $script ?>
    <?php endforeach; ?>
</head>
<body>
<header>
    <h1>Vstupní projekt php developer</h1>
    <nav>
        <a href="/customer/register">registrovat zákazníky</a>
        <a href="/generator">generátor dat</a>
        <a href="/item">přidat položku</a>
        <a href="/customer/report">report</a>
    </nav>
</header>
    <div class="flashes">
        <?php foreach ($flashes as $flash) : ?>
            <p class="flashMessage"><?= $flash ?></p>
        <?php endforeach; ?>
    </div>
<article>
    <?php $this->controller->drawView(); ?>
</article>

<footer>
    <p>Vojtěch Makula</p>
</footer>
</body>
</html>